@model ApplicationUser
@{
    ViewData["Title"] = "Change Password";

}
<section style="padding:25px;">
    <form>
        <input type="hidden" id="hdnUserId" value="@Model.Id" />
        <div class="col-12">
            <div class="form-group col-md-4">
                <label for="txtNewPassword">New Password <strong class="col-error">*</strong></label>
                <input type="password" class="form-control" id="txtNewPassword" autocomplete="off">
            </div>
            <div class="form-group  col-md-4">
                <label for="txtConfirmPassword">Confirm Password<strong class="col-error">*</strong></label>
                <input type="password" class="form-control" id="txtConfirmPassword" autocomplete="off">
            </div>

            <div class="form-group col-md-4">
                <input type="button" value="Submit" id="btnChangePassword" class="btn btn-primary">
            </div>
        </div>

    </form>
</section>


<script>

    $("#btnChangePassword").click(function () {
        var modal = {
            UserId: $("#hdnUserId").val(),
            Password: $("#txtNewPassword").val(),
            ConfirmPassword: $("#txtConfirmPassword").val()
        }

        $.ajax({
            url: "/Admin/ChangePassword",
            method: "POST",
            dataType: "json",
            data: modal,
            success: function (result) {
                if (result.isSuccess) {
                    toastr.success("User Password Updated!");

                }
                else {
                    toastr.error("Please contact administration!");
                }
            }
        });
    });

</script>