@model List<AspNetUserViewModel>


@{
    ViewData["Title"] = "System Users";

}
<button type="submit" class="btn btn-sm btn-primary" id="btnAddUserModal" style="float: right;margin:2px 0 10px 0">Create User</button>

<div class="card-body">
    <table id="tblUsers" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $(function () {
        BindUsers();
    });

    function ActiveUser(user, obj) {

        var chkVal = "";

        var el = $(obj);
        console.log(el)
        if (el.is(':checked')) {
            el.attr('value', 'true');
            chkVal = el.val();
        } else {
            el.attr('value', 'false');
            chkVal = el.val();
        }

        var modal = {
            UserId: user,
            IsActive: chkVal
        }

        $.ajax({
            url: "/Admin/ActiveUser",
            method: "POST",
            dataType: "json",
            data: modal,
            success: function (result) {
                if (result.isSuccess) {
                    toastr.success(result.message);
                }
                else {
                    toastr.error("Please contact administration!");
                }
            }
        });

    }

    $("#btnAddUserModal").click(function () {
        ResetForm();
        $("#modalAddUser").modal("show");
    });

    $(document).on("click", "#btnCreateUser", function () {
        var modal = {
            UserId: $("#hdnRegUserId").val(),
            Email: $("#txtEmail").val(),
            FullName: $("#txtFullName").val(),
            Phone: $("#txtPhone").val(),
            Password: $("#txtPassword").val(),
            ConfirmPassword: $("#txtConfirmPassword").val()
        }

        $.ajax({
            url: "/Admin/CreateUser",
            method: "POST",
            dataType: "json",
            data: modal,
            success: function (result) {
                if (result.isSuccess) {
                    ResetForm();
                    toastr.success(result.message);
                    $("#modalAddUser").modal("hide");
                    BindUsers();
                }
                else {
                    toastr.error("Please contact administration!");
                }
            }
        });
    });

    function EditUser(obj) {
        $("#hdnRegUserId").val(obj.userId);
        $(document).find("#txtFullName").val(obj.fullName);
        $("#txtEmail").val(obj.email).prop("disabled", true);
        $(document).find("#txtPhone").val(obj.phone);
        $(".add-user").hide();
        $("#modalAddUser").modal("show");
    }

    function ResetForm() {
        $("#hdnRegUserId").val("");
        $("#txtFullName").val("");
        $("#txtEmail").val("").prop("disabled", false);
        $("#txtPhone").val("");
        $(".add-user").show();
    }

    function DeleteUser(UserId) {
        if (confirm("Are you sure you want to delete this user?")) {
            $.ajax({
                url: "/Admin/DeleteUser?UserId=" + UserId,
                method: "GET",
                dataType: "json",
                success: function (result) {
                    if (result.isSuccess) {
                        toastr.success(result.message);
                        BindUsers();
                    }
                    else {
                        toastr.error("Please contact administration!");
                    }
                }
            });
        }
    }
    function BindUsers() {
        $("#tblUsers").DataTable().destroy();
        $.ajax({
            url: "/Admin/UserList",
            method: "GET",
            dataType: "json",
            success: function (result) {
                $("#tblUsers").DataTable({
                    "paging": true,

                    data: result,

                    "columns": [
                        { "data": "fullName" },
                        { "data": "email" },
                        { "data": "roleName" },
                        {
                            'render': function (data, type, row) {
                                if (row.isActive == true) {
                                    return '<div class="custom-control custom-switch"><input type="checkbox" checked class="custom-control-input" id="' + row.userId + '" onchange=ActiveUser("' + row.userId + '",this);><label class="custom-control-label" for="' + row.userId + '"></label></div>';

                                }
                                else {
                                    return '<div class="custom-control custom-switch"><input type="checkbox"  class="custom-control-input" id=" ' + row.userId + '" onchange=ActiveUser("' + row.userId + '",this);><label class="custom-control-label" for="' + row.userId + '"></label></div>';
                                }
                            }
                        },
                        {
                            "render": function (data, type, row) {
                                return "<a href='javascript:void(0);' class='btn btn-sm btn-warning' onclick= 'return EditUser(" + JSON.stringify(row) + ");' >Edit</a>" + " " +
                                    "<a href='javascript:void(0);' class='btn btn-sm btn-danger' onclick=DeleteUser('" + row.userId + "'); >Delete</a>";
                            }
                        },
                    ]
                });
            }
        });
    }

</script>