@{
    ViewData["Title"] = "Products";

}
 

<div class="card-body">
    <table id="tblProducts" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ProductId</th>
                <th>Name</th>
                <th>Description</th>
                <th>Short Description</th>
                <th>Regular Price</th>
                <th>Sale Price</th>
                <th>License Type</th>
                <th>Durations</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

 
<script src="~/js/CustomJs/Home.js"></script>
