
@{
    ViewData["Title"] = "Sync with woocommerce";
}

<div class="">
    <div class="form-group">
        <div class="col-6">
            <label>Category</label>
            <select class="form-control" id="ddlCategory">
            </select>
        </div>
        <div class="col-6">
            <label>Product</label>
            <select class="form-control" id="ddlProduct">
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="button" id="btnSave" class="btn btn-info">Sync with woocommerce</button>
        </div>
    </div>
</div>


<script src="~/js/CustomJs/productCreate.js"></script>
