@*@model List<ProductLicenseViewModel>*@ 

@{
    ViewData["Title"] = "Downalod Files";
}
 
<div class="card-body">
    <table id="tblDownloads" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ProductId</th>
                <th>Customer Name</th>
                <th>Order Id</th>
                <th>Email</th>
                <th>Order Created Date</th>
                <th>Download</th>
            </tr>
        </thead>
    </table>
</div>
 
<script src="~/js/CustomJs/productfeature.js"></script>

<script>

    $(function () {
        BindDownloads();
    });

    function BindDownloads() {
        $("#tblDownloads").DataTable().destroy();
        $.ajax({
            url: "/Products/DownloadList",
            method: "GET",
            dataType: "json",
            success: function (result) {
               
                $("#tblDownloads").DataTable({
                    "paging": true,
                    data: result,
                    "order": [[2, "desc"]],
                    "columns": [

                        { "data": "wcProductId" },
                        { "data": "customerName" },
                        { "data": "wcOrderId" },
                        { "data": "email" },
                        { "data": "orderCreatedDate" },
                        {
                            "render": function (data, type, row, full) {
                                var id = "dropdownMenuButton" + row.wcOrderId;
                               
                                return "<div class='dropdown'><button class='btn btn-secondary dropdown-toggle' type='button' id='" + id + "' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> Download </button><div class='dropdown-menu' aria-labelledby='" + id + "'><li><a class='dropdown-item' href='/Products/DownloadFiles?productId=" + row.id+"'>Product Downloadable Files</a></li><li><a class='dropdown-item' href='/Products/DownloadLicenseZip?LicenseUrl=" + row.licenseURL + "&OrderId=" + row.wcOrderId +"' download>License Files</a></li></div>"
                                
                            }
                                
                        },
                    ]
                });
            }
        });
    }

</script>

