@{ 
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var method = ViewContext.RouteData.Values["Action"].ToString();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Licensing.Manager</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    @*CSS Section*@
    <link href="~/theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @*<link href="~/theme/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />*@
    <link href="~/theme/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/Plugin/jQueryUI/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/Plugin/jstree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/theme/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/toastr/toastr.min.css" rel="stylesheet" />

    @*ScripSection*@
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/Jquery-ui.js"></script>
    @*<script src="~/theme/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>*@
    <script src="~/theme/dist/js/adminlte.js"></script>
    @*<script src="~/theme/dist/js/demo.js"></script>*@
    @*<script src="~/theme/dist/js/pages/dashboard3.js"></script>*@
    <script src="~/css/Plugin/jstree/jstree.min.js"></script>
    <script src="~/theme/plugins/select2/js/select2.min.js"></script>
    <script src="~/css/toastr/toastr.min.js"></script>


</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/theme/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <nav class="main-header navbar navbar-expand navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item">
                    <h3 class="m-0">@ViewData["Title"]</h3>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/Home/Logout" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/Home/Index" class="brand-link">
                <img src="~/theme/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>

            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li @if (controller == "Products" && (method == "Index" || method == "Feature" || method == "Create"))
                    { <text> class="nav-item menu-open" </text> } else { <text> class="nav-item" </text> }>
                            <a href="#"@if (controller == "Products" && (method == "Index" || method == "Feature" || method == "Create"))
                    { <text> class="nav-link active" </text> } else { <text> class="nav-link" </text> }>
                                <i class="fab fa-product-hunt"></i>
                                <p>
                                    Product
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Products/Index" @if (controller == "Products" && method == "Index")
                    { <text> class="nav-link active" </text> } else { <text> class="nav-link" </text> }>
                                        <i class="fas fa-cart-plus"></i>
                                        <p>Create Product</p>

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Products/Feature" @if (controller == "Products" && method == "Feature")
                    { <text> class="nav-link active" </text> } else { <text> class="nav-link" </text> }>
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Features</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Products/Create" @if (controller == "Products" && method == "Create") { <text> class="nav-link active" </text>  } else { <text> class="nav-link" </text> }>
                                        <i class="fas fa-sync-alt"></i>
                                        <p>Sync To Woocommerce</p>
                                    </a>
                                </li>
                                
                            </ul>

                        </li>
                        <li @if (controller == "Products" && (method == "Download" || method == "DownloadLicense"))
                    { <text> class="nav-item menu-open" </text> } else { <text> class="nav-item" </text> }>
                            <a href="#"  @if (controller == "Products" && (method == "Download" || method == "DownloadLicense"))
                    { <text> class="nav-link active" </text> } else { <text> class="nav-link" </text> }>
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Customer
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Products/Download" @if (controller == "Products" && method == "Download")
                    { <text> class="nav-link active" </text> } else { <text> class="nav-link" </text> }>
                                        <i class="fas fa-file-download"></i>
                                        <p>Download Files</p>

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Products/DownloadLicense" @if (controller == "Products" && method == "DownloadLicense")
                    { <text> class="nav-link active" </text> } else { <text> class="nav-link" </text> }>
                                        <i class="fas fa-download"></i>
                                        <p>Download License</p>

                                    </a>
                                </li>
                            </ul>

                        </li>
                        @*<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>Widgets</p>
            </a>
        </li>*@
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">

            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>

        </div>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>

        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year <a href="https://adminlte.io">Licensing.Manager</a>.</strong>
        </footer>

    </div>

</body>
</html>
