@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>
@{
    <p>Thank you for the registration. We have send you a register email to your inbox. Please check. </p>
}
