.fs-14 {
    font-size: 14px;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.tab-content.link-wrap .tab-pane .form-wrap .form-group .form-control {
    width: 100px
}

.tab-content.link-wrap .tab-pane .form-wrap .form-group > label {
    width: 300px
}

    .tab-content.link-wrap .tab-pane .form-wrap .form-group > label.custom-checkbox {
        width: auto
    }
/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 11px;
    border: solid #555;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tab-header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 10px;
}

    .tab-header select {
        width: 50%;
        margin: 0 10px;
    }

    .tab-header label {
        margin-bottom: 0;
    }

.tab-wrap .nav-tabs .nav-link {
    border-radius: 0;
    border-bottom-color: #dee2e6;
}

    .tab-wrap .nav-tabs .nav-item.show .nav-link, .tab-wrap .nav-tabs .nav-link.active {
        border-color: #dee2e6;
        background-color: #dee2e6;
    }

.indevidual-product .nav-link,
.indevidual-product .nav-link.active {
    border-color: #FFFFFF !important;
    background-color: #FFFFFF !important;
}

.tab-wrap .tab-content {
    border-left: 1px solid #dee2e6;
    height: 100%;
}

.form-wrap .form-group {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap
}

    .form-wrap .form-group label {
        width: 200px;
        opacity: .7;
    }

    .form-wrap .form-group .form-control {
        width: 300px;
    }

.form-wrap label.custom-checkbox {
    width: auto;
}

.tooltip {
    font-size: 12px;
    margin-right: -20px;
}

    .tooltip .arrow::before {
        right: -7px;
    }

ul.tablink.nav-tabs .nav-link {
    border: 0;
    position: relative
}

ul.tablink.nav-tabs .nav-item:not(:last-child) .nav-link::after {
    position: absolute;
    content: "";
    background: #888;
    height: 20px;
    width: 1px;
    right: 0;
    top: 11px;
}

.dimension-box {
    width: 300px;
    display: flex;
}

.form-wrap .form-group .dimension-box input {
    flex: 1;
    margin-right: 10px;
    width: 93px;
}

.form-wrap p.notes {
    margin-left: 200px;
}

.form-wrap .media .media-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .form-wrap .media .media-img svg {
        fill: #fff;
    }

.form-wrap .form-group label {
    margin-bottom: 0;
}

.mt_15 {
    margin-top: -15px;
}

.date-wrap {
    margin-left: 200px;
    margin-top: 15px
}

.cat_tab .tab-pane {
    max-height: 400px;
    overflow: auto;
    padding-top: 15px;
}

    .cat_tab .tab-pane::-webkit-scrollbar,
    .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
        width: 7px;
        border-radius: 10px;
    }

    .cat_tab .tab-pane::-webkit-scrollbar-track,
    .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .cat_tab .tab-pane::-webkit-scrollbar-thumb,
    .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

.layout_wrap li {
    width: 100px;
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
}

.select2-container {
    min-width: 100%;
}

.select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
}

    .select2-results__option:before {
        content: "";
        display: inline-block;
        position: relative;
        height: 20px;
        width: 20px;
        border: 2px solid #e9e9e9;
        border-radius: 4px;
        background-color: #fff;
        margin-right: 10px;
        vertical-align: middle;
    }

    .select2-results__option[aria-selected=true]:before {
        font-family: fontAwesome;
        content: "\f00c";
        color: #fff;
        background-color: #007bff;
        border: 0;
        display: inline-block;
        padding-left: 3px;
        font-size: 13px;
    }

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eaeaeb;
    color: #272727;
}

.select2-container--default .select2-selection--multiple {
    margin-bottom: 10px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #f77750;
    border-width: 2px;
}

.select2-container--default .select2-selection--multiple {
    border-width: 1px;
    font-size: .875rem
}

.select2-container--open .select2-dropdown--below {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.select2-selection .select2-selection--multiple:after {
    content: 'hhghgh';
}
/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
    display: none;
}

.select-icon .placeholder {
    display: none;
}

.select-icon .select2-results__option:before,
.select-icon .select2-results__option[aria-selected=true]:before {
    display: none !important;
    /* content: "" !important; */
}

.select-icon .select2-search--dropdown {
    display: none;
}

.select2-container--default .select2-selection--multiple {
    border-color: #ced4da
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #ced4da 1px;
    outline: 0;
    FONT-VARIANT: JIS04;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    width: 100%;
    display: block;
}

.select2-container {
    display: block
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    font-size: .875rem
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 3px
}


.dropzone {
    width: 98%;
    margin: 1%;
    border: 2px dashed #3498db !important;
    border-radius: 5px;
    transition: 0.2s;
}

    .dropzone.dz-drag-hover {
        border: 2px solid #3498db !important;
    }

.dz-message.needsclick img {
    width: 50px;
    display: block;
    margin: auto;
    opacity: 0.6;
    margin-bottom: 15px;
}

span.plus {
    display: none;
}

.dropzone.dz-started .dz-message {
    display: inline-block !important;
    width: 120px;
    float: right;
    border: 1px solid rgba(238, 238, 238, 0.36);
    border-radius: 30px;
    height: 120px;
    margin: 16px;
    transition: 0.2s;
}

    .dropzone.dz-started .dz-message span.text {
        display: none;
    }

    .dropzone.dz-started .dz-message span.plus {
        display: block;
        font-size: 70px;
        color: #AAA;
        line-height: 110px;
    }

.custom_radio {
    display: inline-block;
    width: auto !important;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .custom_radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .custom_radio .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    .custom_radio input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    .custom_radio .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .custom_radio input:checked ~ .checkmark:after {
        display: block;
    }

    .custom_radio .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

ul.layout_wrap.ship li .custom_radio .checkmark {
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: transparent;
}

ul.layout_wrap.ship li .custom_radio input:checked ~ .checkmark {
    background-color: transparent;
    border-color: #007bff;
}

ul.layout_wrap.ship li .custom_radio .checkmark:after {
    content: none;
}

ul.ui-autocomplete {
    max-height: 250px;
    overflow: auto;
    font-size: 12px
}

#toast-container {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin:0 0 520px;
    width: 300px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #FFF;
    opacity: .8;
}
.nav-link p{
    padding-left:15px;
}